.btn {
	cursor: pointer;
	font-family: var(--font-family-base);
	font-weight: 500;
	font-size: var(--font-size-md);
	color: var(--font-color);
	padding: 4px 16px;
	border: 1px solid var(--border-color);
	border-radius: var(--border-radius-md);
	background: none;
	font-size: var(--font-size-sm);
	&:hover {
		border: 1px solid var(--border-color-hover);
	}
}
