---
import { getLanguageFromURL, useTranslation } from "@i18n/utils";
import PageLayout from "@layouts/default.astro";
import PageHeading from "@components/PageHeading.astro";
import AboutMeContent from "@components/AboutMeContent.astro";

const pageLang = getLanguageFromURL(Astro.url.pathname);
const t = useTranslation(Astro);
---

<PageLayout noIndex lang={pageLang} title={t("pageTitle.about")}>
	<PageHeading heading={t("pageTitle.about")} />
	<section>
		<AboutMeContent />
	</section>
</PageLayout>
