---
import { getCollection, getEntryBySlug } from "astro:content";
import { getLanguageFromURL, useTranslation } from "@i18n/utils";
import PageLayout from "@layouts/default.astro";
import PageHeading from "@components/PageHeading.astro";
import SkillsList from "@components/SkillsList.astro";
import SkillsBlock from "@components/SkillsBlock.astro";
import ArticleContent from "@components/ArticleContent.astro";

const pageLang = getLanguageFromURL(Astro.url.pathname);
const skills = await getCollection("skills", (e) => e.id.startsWith(`${pageLang}/`));
const about = await getEntryBySlug("authors", `${pageLang}/сергей-ярков`);
const data = await about?.render();
const t = useTranslation(Astro);
---

<PageLayout noIndex lang={pageLang} title={t("pageTitle.about")}>
	<PageHeading heading={t("pageTitle.about")} />
	<section>
		<ArticleContent>
			{data && <data.Content />}
		</ArticleContent>
		<SkillsList>
			{skills.map((block) => <SkillsBlock data={block.data} />)}
		</SkillsList>
	</section>
</PageLayout>
