---
import { SITE_METADATA } from "@root/config";
import PageLayout from "@layouts/default.astro";
import { getLanguageFromURL } from "@root/utils";
import { useTranslation } from "@i18n/utils";
import * as API from "@root/lib/api";
import PageHeading from "@components/PageHeading";
import SkillsList from "@components/SkillsList";
import SkillsBlock from "@components/SkillsBlock";
import ArticleContent from "@components/ArticleContent";

const lang = getLanguageFromURL(Astro.url.pathname);
const t = useTranslation(Astro);
const data = await API.fetchAboutMe(Astro);
const { skills } = SITE_METADATA;
---

<PageLayout noIndex lang={lang} title={t("pageTitle.about")}>
	<PageHeading heading={t("pageTitle.about")} />
	<section>
		<ArticleContent>
			{data && <data.Content />}
		</ArticleContent>
		<SkillsList>
			{skills.map((block) => <SkillsBlock data={block} />)}
		</SkillsList>
	</section>
</PageLayout>
