---
import { SITE_METADATA } from '@root/config';
import PageLayout from '@layouts/default.astro';
import SkillsList from '@components/SkillsList';
import SkillsBlock from '@components/SkillsBlock';

// TODO: import content based on user ui language
import { default as Content } from '../../content/about/ru/index.mdx';
import ArticleContent from '@components/ArticleContent';

const { skills } = SITE_METADATA;
---

<PageLayout title="Обо мне">
	<section>
		<ArticleContent>
			<Content />
		</ArticleContent>
		<SkillsList>
			{skills.map((block) => <SkillsBlock data={block} />)}
		</SkillsList>
	</section>
</PageLayout>
