---
import PageLayout from "@layouts/default.astro";
import PageHeading from "@components/PageHeading.astro";
// import ArticlesList from "@components/ArticlesList";
// import * as utils from "@utils/articles";
import { getLanguageFromURL } from "@i18n/utils";
// import { useTranslation } from "@i18n/utils";
// import * as API from "@root/lib/api";
// const t = useTranslation(Astro);
// const data = API.fetchTranslatedArticles(Astro);
// const tags = new Set(data.map((article) => article.frontmatter.tags).flat());
const lang = getLanguageFromURL(Astro.url.pathname);
// const articles = utils.transformArticles(data);
const canonicalUrl = new URL(Astro.url.pathname, Astro.site);
---

<PageLayout
	lang={lang}
	title={"Статьи"}
	description={"Технические статьи, туториалы и различные справочные материалы которые связаны с IT тематикой находятся здесь."}
	canonicalUrl={canonicalUrl.href}
>
	<PageHeading
		heading={"Статьи"}
		description={"Технические статьи, туториалы и различные справочные материалы которые связаны с IT тематикой находятся здесь."}
	/>
	<section>
		...
		<!-- <ArticlesList
			client:load
			lang={lang}
			i18n={{
				"input.search": t("input.search"),
				"articles.empty": t("articles.empty"),
			}}
			data={{ articles: utils.formatToArticleBlocks(articles), tags: [...tags] }}
		/> -->
	</section>
</PageLayout>
