---
import PageLayout from "@layouts/default.astro";
import ArticlesList from "@components/ArticlesList";
import { transformArticles, formatToArticleBlocks } from "@utils/articles";
import { getLanguageFromURL } from "@root/utils";
import { useTranslation } from "@i18n/utils";

const t = useTranslation(Astro);
const articles = await Astro.glob<ArticleType>("../../content/articles/**/*.mdx");
const tags = new Set(articles.map((article) => article.frontmatter.tags).flat());
const lang = getLanguageFromURL(Astro.url.pathname);
---

<PageLayout lang={lang} title={t("pageTitle.articles")} description={t("pageDescription.articles")}>
	<section>
		<ArticlesList
			client:load
			lang={lang}
			i18n={{
				"input.search": t("input.search"),
				"articles.empty": t("articles.empty"),
			}}
			data={{ articles: formatToArticleBlocks(transformArticles(articles)), tags: [...tags] }}
		/>
	</section>
</PageLayout>
