---
import PageLayout from "@layouts/default.astro";
import PageHeading from "@components/PageHeading.astro";
import ContactForm from "@components/ContactForm.astro";
import ContactsList from "@components/ContactsList.astro";
import { getLanguageFromURL } from "@i18n/utils";
// const t = useTranslation(Astro);
const lang = getLanguageFromURL(Astro.url.pathname);
---

<PageLayout
	noIndex
	lang={lang}
	title={"Контакты"}
	description={"Воспользуйтесь формой обратной связи или напишите мне в социальные сети."}
>
	<PageHeading
		heading={"Контакты"}
		description={"Воспользуйтесь формой обратной связи или напишите мне в социальные сети."}
	/>
	<section>
		<ContactForm />
		<ContactsList />
	</section>
</PageLayout>
