---
import PageLayout from "@layouts/default.astro";
import Splash from "@components/Splash/Splash.astro";
import SplashHeading from "@root/components/Splash/SplashHeading.astro";
import SplashLinks from "@root/components/Splash/SplashLinks.astro";
import SplashLink from "@root/components/Splash/SplashLink.astro";
import { getCollection } from "astro:content";
import RecentArticles from "@root/components/RecentArticles.astro";

const articles = (await getCollection("blog"))
	.filter((p) => !p.data.draft)
	.sort((a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf());
---

<PageLayout description="Home page" lang={"ru"}>
	<Splash>
		<SplashHeading>
			<hgroup>
				<h1>Hello, I'am Sergey</h1>
				<h2>Fullstack <b>web-developer</b> & <b>freelancer</b></h2>
			</hgroup>
			<p>
				Я занимаюсь разработкой веб-сайтов и веб-приложений разной сложности, а также публикую
				статьи и туториалы на разные IT темы.
			</p>
		</SplashHeading>
		<SplashLinks>
			<SplashLink icon="information" href="/about/">обо мне</SplashLink>
			<SplashLink icon="email_filled" href="/contacts/">написать мне</SplashLink>
		</SplashLinks>
	</Splash>
	<RecentArticles articles={articles} />
</PageLayout>
