---
import * as utils from "@utils/index";
import PageLayout from "@layouts/default.astro";
import RecentArticles from "@components/RecentArticles";
import { Splash, SplashHeading, SplashLinks, Link } from "@components/Splash";
import { getLanguageFromURL } from "@root/utils";
import { getTranslatedArticles, useTranslation } from "@i18n/utils";
import UIString from "@components/UIString";

const data = getTranslatedArticles(Astro);
const t = useTranslation(Astro);
const lang = getLanguageFromURL(Astro.url.pathname);
const articles = utils.transformArticles(data);
const canonicalUrl = new URL(Astro.url.pathname, Astro.site);
---

<PageLayout lang={lang} description={t("site.description")} showPageHeading={false} canonicalUrl={canonicalUrl.href}>
	<Splash>
		<SplashHeading>
			<hgroup>
				<h1><UIString key={"splash.headline"} /></h1>
				<h2>Fullstack <b>web-developer</b> & <b>freelancer</b></h2>
			</hgroup>
			<p><UIString key={"splash.description"} /></p>
		</SplashHeading>
		<SplashLinks>
			<Link icon="information" href="/about/"><UIString key={"splash.about"} /></Link>
			<Link icon="email_filled" href="/contacts/"><UIString key={"splash.contact"} /></Link>
		</SplashLinks>
	</Splash>
	<RecentArticles articles={articles} length={5} />
</PageLayout>
