---
import PageLayout from '@layouts/default.astro';
---

<PageLayout title="404" showPageHeading={false}>
	<div class="container">
		<h1 style="font-size:var(--font-size-5xl);">404</h1>
		<p>Страницу которую вы пытаетесь найти не существует.</p>
	</div>
</PageLayout>
