.theme-switcher {
	background: none;
	border: none;
	display: flex;
	align-items: center;
	cursor: pointer;
	padding: 0;
	margin: 0;
	opacity: 0;
	&:hover {
		opacity: var(--opacity-hover);
		border: none;
	}
	&.ready {
		opacity: 1;
		transition: all 0.1s linear 0s;
	}
}

body[data-is-mobile-open="true"] {
	.theme-switcher {
		display: block;
		position: absolute;
		bottom: 45px;
		right: 2.2rem;
		& svg {
			width: 36px;
			height: 36px;
		}
	}
}
