<div class="banner-wrapper">
	<span><slot /></span>
</div>

<style lang="scss" is:global>
	.header.header-banner {
		top: 45px;
	}

	.banner-wrapper {
		padding: 12px 0;
		min-height: 45px;
		text-align: center;
		background: var(--color-black);
		color: var(--color-white);
		position: sticky;
		top: 0;
		z-index: 99999;
	}

	@media screen and (max-width: 768px) {
		body[data-is-mobile-open="true"] {
			& .header.header-banner {
				margin-top: 45px;
				& .language-select {
					bottom: 145px;
				}
				& .theme-switcher {
					bottom: 80px;
				}
			}
		}
	}
</style>
