---
import './RecentArticles.scss';
---

<section class='publications'>
  <div class='container'>
    <div class='publications-heading'>
      <h2>недавние публикации</h2>
      <a href='/articles'>смотреть все</a>
    </div>
  </div>
  <div class='publications-list container'>
    <article class='article-item'>
      <a href='#'>
        <h3>
          Как взаимодействовать с микроконтроллером испульзуюя WebSerialAPI
        </h3>
        <p>
          <time datetime='2022-01-01 22:00'>ЯНВ 21, 2022</time>
        </p>
      </a>
    </article>
    <article class='article-item'>
      <a href='#'>
        <h3>Развертывание вашего Node.js приложение с помощью Docker</h3>
        <p>
          <time datetime='2022-01-01 22:00'>ЯНВ 15, 2022</time>
        </p>
      </a>
    </article>
  </div>
</section>
