:root {
	/* Fonts */
	--font-color: var(--color-white);
	--font-color-gray: var(--color-gray-100);
	--font-color-grayer: var(--color-gray-200);

	/* Border */
	--border-color: var(--color-gray-700);
	--border-color-hover: var(--color-gray-600);

	/* Elements */
	--background-body-color: var(--color-gray-900);
	--background-header-color: var(--color-gray-900);
	--background-inline-code: var(--color-gray-800);
	--background-color-hover: var(--color-gray-800);
	--background-btn-link: var(--color-gray-800);
	--background-btn-link-active: var(--color-gray-700);
	--background-inputs-color: var(--color-gray-800);

	/* Icons */
	--icon-primary: var(--color-white);
	--icon-secondary: var(--color-gray-100);
	--icon-filter: invert(100%);
}

.header svg,
.site-content svg {
	filter: var(--icon-filter);
}
