.skills-list {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
	column-gap: 40px;
	row-gap: 30px;
	margin-top: 5rem;
}

@media screen and (max-width: 500px) {
	.skills-list {
		display: flex;
		flex-direction: column;
	}
}
