.welcome {
  margin-top: 80px;
  margin-bottom: 150px;
  &-heading {
    &__title {
      & h1 {
        font-size: var(--font-size-5xl);
        font-weight: bold;
        margin-bottom: 0.5rem;
      }
      & h2 {
        font-size: var(--font-size-xl);
        margin-bottom: 1.25rem;
        font-weight: normal;
      }
    }
    &__description {
      font-size: var(--font-size-lg);
      max-width: 570px;
      line-height: 1.5;
    }
  }
  &-links {
    display: flex;
    align-items: center;
    column-gap: 20px;
    &__link {
      display: flex;
      align-items: center;
      column-gap: 5px;
      & a {
        color: var(--font-color-gray);
      }
      & svg {
        fill: var(--font-color-gray);
      }
    }
  }
}

// @media screen and (max-width: 700px) {
//   .welcome {

//   }
// }
