---
import './PageHeading.scss';

export interface Props {
	heading: string;
	description?: string | undefined;
}

const { heading, description } = Astro.props as Props;
---

<div class='page-heading'>
	<h1 style={!description && 'margin-bottom: 2.5rem;'}>
		{heading}
	</h1>
	{description && <p>{description}</p>}
</div>
