---
import { Icon } from 'astro-icon';
import './Link.scss';

export interface Props {
	icon: string;
	href: string;
}

const { icon, href } = Astro.props as Props;
---

<div class='splash-link'>
	<Icon name={icon} width='18' height='18' />
	<a href={href}>
		<slot></slot>
	</a>
</div>
