---
import { Icon } from "astro-icon";
// import TranslatedLink from "@components/TranslatedLink";

export interface Props {
	icon: string;
	href: string;
}

const { icon, href } = Astro.props as Props;
---

<div>
	<Icon name={icon} width="18" height="18" />
	<a href={href}>
		<slot />
	</a>
</div>

<style lang="scss">
	div {
		display: flex;
		align-items: center;
		column-gap: 5px;

		& a {
			color: var(--font-color-gray);
		}
	}
</style>
