---
import { Icon } from "astro-icon/components";
import TranslatedLink from "@components/TranslatedLink.astro";

export interface Props {
	icon: string;
	href: string;
}

const { icon, href } = Astro.props as Props;
---

<div>
	<Icon name={icon} width="18" height="18" />
	<TranslatedLink to={href}>
		<slot />
	</TranslatedLink>
</div>

<style lang="scss">
	div {
		display: flex;
		align-items: center;
		column-gap: 5px;

		& a {
			color: var(--font-color-gray);
		}
	}
</style>
