---
import '@root/styles/prism-one-light.css';
import ArticleLayout from '@root/layouts/article.astro';
import { Markdown } from 'astro/components';

export function getStaticPaths() {
	return [{ params: { article: 'article' } }];
}
---

<ArticleLayout
	content={{
		title: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit.',
		author: 'Sergey Yarkov',
		tags: ['AVR', 'JavaScript', 'NodeJS'],
		published_at: new Date().toISOString(),
	}}
>
	<Markdown>
		## Introduction

		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eu turpis molestie, dictum est a, mattis tellus.
		Sed dignissim, metus nec fringilla accumsan, risus sem sollicitudin lacus, ut interdum tellus elit sed risus.
		Maecenas eget condimentum velit, sit amet feugiat lectus. Class aptent taciti sociosqu ad litora torquent per
		conubia nostra, per inceptos himenaeos. [Praesent auctor](#) purus luctus enim egestas, ac scelerisque ante
		pulvinar.
		Donec ut rhoncus ex. Suspendisse ac rhoncus nisl, eu tempor urna. Curabitur vel bibendum lorem. Morbi convallis
		convallis diam sit amet [lacinia](#). Aliquam in elementum

		Curabitur tempor quis eros tempus lacinia. Nam bibendum pellentesque quam a convallis. Sed ut vulputate nisi.
		Integer in felis sed leo vestibulum venenatis. Suspendisse quis arcu sem. Aenean feugiat ex eu vestibulum
		vestibulum. Morbi a eleifend magna. Nam metus lacus, porttitor eu mauris a, blandit ultrices nibh. Mauris sit
		amet magna non ligula vestibulum eleifend. Nulla varius volutpat turpis sed lacinia. Nam eget mi in purus
		lobortis eleifend. Sed nec ante dictum sem condimentum ullamcorper quis venenatis nisi. Proin vitae facilisis
		nisi, ac posuere leo.

		### Another Heading

		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eu turpis molestie, dictum est a, mattis tellus.
		Sed dignissim, metus nec fringilla accumsan, risus sem sollicitudin lacus, ut interdum tellus elit sed risus.

		- `Nam metus lacus`: porttitor eu mauris a, [blandit ultrices](#) nibh.
		- `Class aptent`: taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
		- `Sed nec ante`: dictum sem condimentum [ullamcorper quis](#) venenatis nisi.

		```typescript
		import type { APIContext } from 'astro';

		export async function get({ params, request }: APIContext) {
			return {
				body: JSON.stringify({
					path: new URL(request.url).pathname,
				}),
			};
		}
		```

		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eu turpis molestie, dictum est a, mattis tellus.
		Sed dignissim.

		<figure>
		<img src="https://wallpaperaccess.com/full/138733.jpg" alt="test" />
		<figcaption>This is a test image!</figcaption>
		</figure>

		<blockquote>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eu turpis molestie, dictum est a, mattis
		tellus.
		Sed dignissim, metus nec fringilla accumsan, risus sem sollicitudin lacus, ut interdum tellus elit sed
		risus.
		</p>
		<p>— <a href="#">Metus Nec</a></p>
		</blockquote>

		## Conclusion

		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eu turpis molestie, dictum est a, mattis tellus.
		Sed dignissim, metus nec fringilla accumsan, risus sem sollicitudin lacus, ut interdum tellus elit sed risus.
	</Markdown>
</ArticleLayout>
