---
import '@styles/global.scss';
---

<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset='utf-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1' />
    <title>Sergey Yarkov</title>
  </head>
  <body> ...</body>
</html>
