---
import PageLayout from '@layouts/default.astro';
import PageHeading from '@components/PageHeading';
import ContactForm from '@components/ContactForm';
import ContactsList from '@components/ContactsList';
---

<PageLayout title='Контакты | Sergey Yarkov'>
	<section class='container'>
		<PageHeading heading='Контакты' description='Воспользуйтесь формой обратной связи или напишите мне в социальные сети.' />
		<ContactForm client:idle />
		<ContactsList />
	</section>
</PageLayout>
