---
import '../styles/global.scss';
import siteMetadata from '../../siteMetadata.json';
---

<html lang='en'>
  <head>
    <meta charset='utf-8' />
    <meta name='viewport' content='width=device-width' />
    <title>Astro</title>
    <style lang='scss'>
      main {
        text-align: center;
        margin-top: 300px;
        & p:nth-child(1) {
          margin-bottom: 10px;
          font-size: 16px;
          font-weight: 500;
        }
        & p:nth-child(2) {
          margin: 0;
          margin-bottom: 10px;
          font-size: 18px;
          & span {
            font-size: 14px;
          }
        }
        div {
          display: flex;
          justify-content: center;
          column-gap: 10px;
          & a {
            text-decoration: none;
          }
        }
      }
    </style>
  </head>
  <body>
    <main>
      <p class='heading'>yarkov.tech</p>
      <p>
        web-site is under construction now<br /><span>thank you</span>
      </p>
      <div>
        <a href={'mailto:' + siteMetadata.contacts.email} target='_blank'>
          <img src='/assets/icons/social/email.svg' alt='Email' />
        </a>
        <a
          href={'https://github.com/' + siteMetadata.contacts.github}
          target='_blank'
        >
          <img src='/assets/icons/social/github.svg' alt='Github' />
        </a>
        <a
          href={'https://t.me/' + siteMetadata.contacts.telegram}
          target='_blank'
        >
          <img src='/assets/icons/social/telegram.svg' alt='Telegram' />
        </a>
      </div>
    </main>
  </body>
</html>
