.nav-toggle {
	cursor: pointer;
	border: none;
	padding: 0;
	&:hover {
		border: none;
		opacity: var(--opacity-hover);
	}
}

@media screen and (min-width: 769px) {
	.nav-toggle {
		display: none;
	}
}

body[data-is-mobile-open="true"] {
	.nav-toggle {
		position: absolute;
		right: var(--content-padding);
	}
}
