.contact-form {
	display: flex;
	flex-direction: column;
	row-gap: 7px;
	margin-bottom: 3.125rem;

	& .form-footer {
		text-align: center;
		margin-top: 15px;
	}

	& .form-result {
		font-style: italic;
		color: var(--font-color-gray);
	}

	& .error-message {
		margin: 2px 0 3px 0;
		display: block;
		color: var(--color-error);
		font-size: var(--font-size-sm);
		user-select: none;
		&::before {
			content: "*";
		}
	}

	& .flex {
		column-gap: 10px;
		& div {
			width: 100%;
		}
	}

	& input.error-input,
	& textarea.error-input {
		border: 1px solid var(--color-error);
	}
}

@media screen and (max-width: 560px) {
	.contact-form .flex {
		flex-direction: column;
		row-gap: 7px;
	}
}
