---
  import './BaseLayout.scss'
  import Header from '@components/Header'
  import Footer from '@components/Footer'
---

<body>
  <Header />
  <main class='site-content'>
    <slot></slot>
  </main>
  <Footer />
</body>