.header {
	position: sticky;
	top: 0;
	border-bottom: 1px solid var(--border-color);
	background-color: var(--background-header-color);
	padding-top: 15px;
	padding-bottom: 15px;
	user-select: none;

	& .container {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	&__logo a {
		text-decoration: none;
		font-weight: 600;
		font-size: var(--font-size-lg);
		color: var(--font-color);
		&:hover {
			text-decoration: underline;
			text-decoration-thickness: 2px;
			text-underline-offset: 5px;
		}
	}
	&__nav {
		display: flex;
		align-items: center;
		& ul {
			display: flex;
			list-style: none;
			column-gap: 20px;
			margin: 0;
			padding: 0;
			margin-right: 35px;
			& li a {
				display: inline-block;
				font-weight: 500;
				color: var(--font-color);
				text-decoration: none;
				text-transform: lowercase;
				&:hover,
				&.active {
					color: var(--color-blue-500);
					text-decoration: underline;
					text-decoration-thickness: 2px;
					text-underline-offset: 4px;
				}
			}
		}
		&-contacts {
			display: flex;
			align-items: center;
			column-gap: 10px;
			margin-right: 40px;
			& a {
				text-decoration: none;
				font-size: 0;
				&:hover {
					opacity: var(--opacity-hover);
				}
			}
		}
	}
	&__button {
		cursor: pointer;
		width: 30px;
		height: 21px;
		position: relative;
		transform: rotate(0deg);
		background: none;
		border: none;
		&:hover {
			border: none;
			opacity: var(--opacity-hover);
		}
		& span {
			pointer-events: none;
			display: block;
			position: absolute;
			height: 3px;
			width: 100%;
			background: var(--color-black);
			border-radius: 7px;
			opacity: 1;
			left: 0;
		}
		& span:nth-child(1) {
			top: 2px;
			transform-origin: left center;
		}
		& span:nth-child(2) {
			top: 9px;
			transform-origin: left center;
		}
		& span:nth-child(3) {
			top: 16px;
			transform-origin: left center;
		}
		&[aria-pressed='true'] {
			& span:nth-child(1) {
				transform: rotate(45deg);
				top: -1px;
				left: 5px;
			}
			& span:nth-child(2) {
				display: none;
			}
			& span:nth-child(3) {
				transform: rotate(-45deg);
				top: 20px;
				left: 5px;
			}
		}
	}
}

@media screen and (max-width: 768px) {
	.header {
		&__nav {
			display: none;
		}
	}

	body[data-is-mobile-open='true'] {
		& .header {
			background-color: var(--color-white);
			position: fixed;
			right: 0;
			left: 0;
			top: 0;
			bottom: 0;
			height: 100%;
			z-index: 9999;
			& .container {
				flex-direction: column;
				row-gap: 3rem;
			}
			&__logo {
				align-self: flex-start;
			}
			&__nav {
				display: block;
				&-links {
					display: block;
					text-align: center;
					margin: 0;
					& li {
						margin-bottom: 30px;
						& a {
							font-size: var(--font-size-xl);
						}
					}
				}
				&-contacts {
					margin-right: 0;
					margin-top: 2rem;
					justify-content: center;
				}
			}
			&__button {
				position: absolute;
				right: var(--content-padding);
			}
			& .theme-switcher {
				display: block;
				position: absolute;
				bottom: 45px;
				right: 2.5rem;
				& svg {
					width: 36px;
					height: 36px;
				}
			}
		}
	}
}
