---
import './Header.scss';
import { SITE_METADATA } from '@root/config';
import ThemeSwitcher from '@components/ThemeSwticher';
import {Icon} from 'astro-icon'
---

<header class='header'>
  <div class='container'>
    <div class='header__logo'>
      <a href='/'>{SITE_METADATA.name}</a>
    </div>
    <nav class='header__nav'>
      <ul class='header__nav-links'>
        <li><a href='/articles'>статьи</a></li>
        <li><a href='/projects'>проекты</a></li>
        <li><a href='/about'>обо мне</a></li>
        <li><a href='/contacts'>контакты</a></li>
      </ul>
      <div class='header__nav-contacts'>
        <a href={'mailto:' + SITE_METADATA.contacts.email}>
          Почта
          <Icon name='email' width='18' height='18' />
        </a>
        <a href={SITE_METADATA.contacts.githubUrl}>
          Github
          <Icon name='github_filled' width='18' height='18' />
        </a>
        <a href={SITE_METADATA.contacts.telegramUrl}>
          Телеграм
          <Icon name='telegram' width='18' height='18' />
        </a>
      </div>
      <ThemeSwitcher />
    </nav>
  </div>
</header>
