---
import { Image } from "astro:assets";

export interface Props {
	src: string;
	alt?: string;
}

const { src, alt } = Astro.props as Props;
---

<div class="cover">
	<Image
		itemprop="image"
		src={src}
		width={700}
		height={400}
		sizes="(max-width: 450px) 450px, 700px"
		format="webp"
		alt={alt ? alt : ""}
	/>
</div>

<style lang="scss">
	.cover {
		margin: 20px 0;
		& figure {
			margin: 0;
		}
	}
</style>
