---
interface Props {
	url: string;
	id: string;
}

const { url, id } = Astro.props as Props;
---

<footer itemscope itemtype="http://schema.org/UserComments">
	<div id="disqus_thread"></div>
</footer>

<script define:vars={{ url, id }}>
	var disqus_config = function () {
		this.page.url = url;
		this.page.identifier = id;
	};

	var e = document.getElementById("disqus_thread");
	if ("IntersectionObserver" in window) {
		var t = new IntersectionObserver((e) => {
			e.forEach((e) => {
				e.isIntersecting &&
					((function () {
						var e = document,
							t = e.createElement("script");
						(t.src = "https://yarkov-tech.disqus.com/embed.js"),
							t.setAttribute("data-timestamp", +new Date()),
							(e.head || e.body).appendChild(t);
					})(),
					t.unobserve(e.target));
			});
		});
		t.observe(e);
	}

	window.addEventListener(
		"onthemetoggled",
		() =>
			document.readyState == "complete" &&
			setTimeout(
				() => "DISQUS" in window && DISQUS.reset({ reload: true, config: disqus_config }),
				100
			)
	);
</script>
