---
---

<div>
	<p>Не найдено ни одной записи.</p>
</div>

<style lang="scss">
	div {
		text-align: center;
		margin: 2.5rem 0;
		& p {
			color: var(--font-color-gray);
			user-select: none;
		}
	}
</style>
