---
import { SITE_METADATA } from "@root/constants";
import { Icon } from "astro-icon";
import TranslatedLink from "./TranslatedLink.astro";
import UIString from "./UIString.astro";
const date = new Date();
---

<footer>
	<div class="container">
		<div>
			<i>
				Разработка: <TranslatedLink to="/contacts">{SITE_METADATA.author}</TranslatedLink>
				&copy; {date.getFullYear()}
			</i>
		</div>
		<div>
			<a href="/rss.xml" target="_blank"><UIString key={"rss.feed"} /></a>
			<span>
				<Icon name="rss" width="20" height="20" />
			</span>
		</div>
	</div>
</footer>

<style lang="scss">
	footer {
		font-weight: 500;
		margin-top: 5rem;
		color: var(--color-gray-200);
		font-size: var(--font-size-sm);
		& .container {
			padding: 15px 0 15px 0;
			border-top: 1px solid var(--border-color);
			display: flex;
			align-items: center;
			justify-content: space-between;
			& div:last-child {
				display: flex;
				align-items: center;
				& a {
					margin-right: 0.25rem;
				}
			}
		}
	}
</style>
