---
import ProjectItem from "@components/ProjectItem.astro";
import { getLanguageFromURL } from "../i18n/utils";
import { getProjectList } from "../queries";

const pageLang = getLanguageFromURL(Astro.url.pathname);
const projects = await getProjectList(pageLang);
---

<div>
	{projects.map((data) => <ProjectItem data={data} />)}
</div>

<style>
	div {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
		gap: 10px;
	}
</style>
