---
import type { CollectionEntry } from "astro:content";
import ArticleItem from "@components/ArticleItem.astro";
import EmptyList from "@components/EmptyList.astro";
import siteconfig from "siteconfig.json";
export interface Props {
	articles: CollectionEntry<"blog">[];
	length?: number | undefined;
}
const { articles, length = siteconfig.articles.recentLimit } = Astro.props as Props;
const isEmpty = articles.length === 0;
---

<section>
	<div>
		<h2>недавние публикации</h2>
		<a href="/articles/">смотреть все</a>
	</div>

	<div itemscope itemtype="http://schema.org/Blog">
		{
			!isEmpty ? (
				articles.slice(0, length).map((article) => <ArticleItem entry={article} />)
			) : (
				<EmptyList />
			)
		}
	</div>
</section>

<style lang="scss">
	section {
		& > div:nth-child(1) {
			display: flex;
			align-items: center;
			column-gap: 15px;
			row-gap: 5px;
			flex-wrap: wrap;
			justify-content: space-between;
			border-bottom: 1px solid var(--border-color);
			padding-bottom: 10px;
			& h2 {
				margin: 0;
			}
		}
		& > div:nth-child(2) {
			margin-top: 10px;
			max-width: calc(var(--content-width) + (var(--content-padding) * 2));
		}
	}
</style>
