---
import { Icon } from "astro-icon/components";
import type { CollectionEntry } from "astro:content";

export interface Props {
	data: CollectionEntry<"skills">["data"];
}

const {
	data: { title, list },
} = Astro.props as Props;
---

<div class="skills-block">
	<div>
		<h3>{title}</h3>
	</div>
	<div>
		<ul>
			{
				list.map((entry) => (
					<li>
						{entry.icon && <Icon name={entry.icon} width="20" height="20" />}
						{entry.title}
					</li>
				))
			}
		</ul>
	</div>
</div>

<style lang="scss">
	.skills-block {
		& h3 {
			font-size: var(--font-size-md);
			color: var(--font-color-grayer);
			font-weight: 500;
		}

		& ul {
			margin: 0;
			padding: 0;
			list-style: none;

			& li {
				font-weight: 400;
				margin-bottom: 10px;
				font-size: var(--font-size-sm);
				display: flex;
				align-items: center;
				column-gap: 5px;
			}
		}
	}

	@media screen and (max-width: 500px) {
		.skills-block {
			& h3 {
				text-align: center;
			}

			& ul {
				display: flex;
				flex-direction: column;
				align-items: center;
			}
		}
	}
</style>
