---
import type { MarkdownHeadingToc } from "@root/utils";

export interface Props {
	heading: MarkdownHeadingToc;
}

const { heading } = Astro.props;
---

<li>
	<a href={`#${heading.slug}`}>{heading.text}</a>
	<ul>
		{heading.subheadings?.map((subheading) => <Astro.self heading={subheading} />)}
	</ul>
</li>
