<div>
	<span><slot /></span>
</div>

<style lang="scss">
	div {
		padding: 12px 0;
		min-height: 45px;
		text-align: center;
		background: var(--color-black);
		color: var(--color-white);
		position: sticky;
		top: 0;
		z-index: 99999;
	}
</style>
