---
import './Footer.scss';
import { Icon } from 'astro-icon'
---

<footer class='footer'>
  <div class='container'>
    <ul class='footer__links'>
      <li>
        <a href='https://astro.build/' target='_blank'>Astro</a>
        <Icon name='astro' width='20' height='20' />
      </li>
      <li>
        <a href='https://www.netlify.com/' target='_blank'>Netlify</a>
        <Icon name='netlify' width='20' height='20' />
      </li>
      <li>
        <a href='/rss.xml' target='_blank'>RSS</a>
        <Icon name='rss' width='20' height='20' />
      </li>
    </ul>
    <p class='footer__copy'>© Sergey Yarkov, 2022</p>
  </div>
</footer>
