---
import { SITE_METADATA } from '@root/config';
import { Icon } from 'astro-icon';
import './ContactsList.scss';

const {
	contacts: { email, githubUrl, telegramUrl },
} = SITE_METADATA;
---

<div class='contacts-list'>
	<a href={'mailto:' + email}
		>Email
		<Icon name='arrow-up-right' width='15' height='15' />
	</a>
	<a href={githubUrl} target='_blank'
		>Github
		<Icon name='arrow-up-right' width='15' height='15' />
	</a>
	<a href={telegramUrl} target='_blank'
		>Telegram
		<Icon name='arrow-up-right' width='15' height='15' />
	</a>
</div>
